<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Password</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${username.getId()}"></td>
        <td th:text="${username.username}"></td>
        <td th:text="${username.lastname}"></td>
        <td th:text="${username.password}"></td>
        <td th:text="${username.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>