<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID"/>
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{username}" id="firstName" placeholder="First Name"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="First Name"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastname}" id="lastName" placeholder="Last Name"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name error</div>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Last Name"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <input type="submit" value="Update User">
</form>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>